
@media only screen and (min-width: 1800px), (min-width: 1300px)  {
/*regular code*/
		/* CSS for the banner */
		.banner {
			background-color: #1c5858;
			
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

		}

      /* Global Styles */
body {
	margin: 0;
	padding: 0;
    background-color: #a2d5c6;
}
/*LOGO GOING BACK HOME*/
.logo {
	margin: auto;
}
/*END OF THE CODE*/

/*CSS FOR THE ANIMATION*/
.container {
	overflow: hidden;
	display: flex;
	
	width: 1500px;
	margin: 0 auto;
  }
  
 
  
  @keyframes slide {
	0% {
	  transform: translate3d(0, 0, 0);
	}
	100% {
	  transform: translate3d(-1500px, 0, 0); /* The image width */
	}
  }
  
  .topic-explore div {

	min-width: 300px;
	margin-left: 100px;
	animation: slide 15s linear infinite;
  }
  
/*END OF CSS FOR THE ANIMATION*/
  /* MAISON'S CODE ATTEMPT */



.topic {
    position: relative;
    text-align: center; /* center the button horizontally */
    margin-bottom: 50px;
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
  
.topic-btn {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
  
    padding: 10px 20px;
    margin: 10px auto 0;
    cursor: pointer;
}

.topic-explore {
    white-space: nowrap;
    overflow-x: hidden;
    margin-top: 1.5em;
	width: 1200px;
}

.topic img {
    border-radius: 20px;
}


/* Header Styles */
header {
	background-color: #077b8a;
	color: #fff;
}

.banner {
	display: flex;
	align-items: center;
	padding: 1em;
	justify-content: space-between;
	flex-wrap: wrap;
}

.banner img {
	max-width: 100%;
	margin:auto;
	display: block;
	width: 120px; /* fixed width for desktop */
	height: 150px; 
}

		/* CSS for the page content */
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 50px;
			padding: 0 20px;
			text-align: center;
		}
		.title {
			font-size: 36px;
			font-weight: bold;
			color: #d72631;
			margin: 20px 0 10px 0;
		}
		.subtitle {
			font-size: 24px;
			color: #077b8a;
			margin-bottom: 30px;
		}
		.image {
			max-width: 100%;
			height: auto;
			margin-bottom: 30px;
			border: 5px solid #a2d5c6;
		}
		.content {
			font-size: 18px;
			line-height: 1.5;
			color: black;
			width: 1200px;
			text-align: center;
		}

		
	
		.text{
			width: 1200px;
			margin: auto;
			background-color: #077b8a;
			border-radius: 25px;	
		}
	}

		@media only screen and (max-width: 1200px) {
			/* Global Styles */
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #a2d5c6;
		}
		
		/* Header Styles */
		header {
			background-color: #077b8a;
			color: #fff;
			width: 100%; 
		}
		
		.banner {
			display: flex;
			align-items: center;
			padding: 1em;
			justify-content: space-between;
			flex-wrap: wrap;
			
		}
		
		.banner img {
			max-width: 100%;
			margin: auto;
			display: block;
			width: 120px; /* fixed width for desktop */
			height: 150px;
		}
		
		/* CSS for the banner */
		.banner {
			background-color: #1c5858;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		/* CSS for the page content */
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 50px;
			padding: 0 20px;
			text-align: center;
		}
		
		.title {
			font-size: 48px;
			font-weight: bold;
			color: #d72631;
			margin: 30px 0 20px 0;
		}
		
		.subtitle {
			font-size: 36px;
			color: #077b8a;
			margin-bottom: 40px;
		}
		
		.image {
			max-width: 100%;
			height: auto;
			margin-bottom: 40px;
			border: 5px solid #a2d5c6;
		}
		
		.content {
			font-size: 24px;
			line-height: 1.5;
			color: black;
			max-width: 800px;
			text-align: center;
		}
		
		.topic {
			position: relative;
			text-align: center; /* center the button horizontally */
			margin-bottom: 50px;
			display: inline-block;
			margin-right: 20px;
			overflow: hidden;
			scroll-snap-align: start;
			scroll-behavior: smooth;
		}
		
		.topic-btn {
			display: block;
			position: absolute;
			bottom: 20px;
			left: 50%;
		
			padding: 10px 20px;
			margin: 10px auto 0;
			cursor: pointer;
		}
		
		.topic-explore {
			white-space: nowrap;
			overflow-x: hidden;
			margin-top: 2.5em;
			max-width: 1000px;
		}
		
		.topic img {
			border-radius: 20px;
			max-width: 100%;
		}
		
		.container {
			overflow: hidden;
			display: flex;
			width: 100%;
			margin: 0 auto;
		}
		
		@keyframes slide {
			0% {
			transform: translate3d(0, 0, 0);
			}
			100% {
			transform: translate3d(-1000px, 0, 0); /* The image width */
			}
		}
		
		.topic-explore div {
			min-width: 300px;
			margin-left: 50px;
			animation: slide 15s linear infinite;
		}
		
		/* MAISON'S CODE ATTEMPT */
		.text {
			max-width: 800px;
			margin-left: 230px;
			background-color: #077b8a;
			border: 5px solid #a2d5c6;
			border-radius: 25px;	
		}
	}